/* Could set a background image like so: */
/*
window.background {
	background-image: url("file:///usr/share/backgrounds/background.png");
	background-position: center;
}
*/

#border {
	background-color: #F92672;
	border: 2px solid #080800;
	border-radius: 2px;
	padding: 10px;
}

entry {
	background-color: #1B1D1E;
	border: 2px solid #080800;
	border-radius: 2px;
	caret-color: transparent;
	color: #F8F8F0;
	font-family: monospace;
	outline-width: 0;
}

button {
	background-color: #1B1D1E;
	background-image: none;
	border: 2px solid #080800;
	border-radius: 2px;
	color: #F8F8F0;
	font-family: monospace;
	font-weight: bold;
	outline-width: 0;
}
